<h2>{% t epilogue_social_title %}</h2>

<p><strong>Github</strong> <a href="https://github.com/DimensionDev">https://github.com/DimensionDev</a></p>
<p><strong>Twitter</strong> <a href="https://twitter.com/realmaskbook">https://twitter.com/realmaskbook</a></p>
<p><strong>Facebook</strong> <a href="https://www.facebook.com/realmaskbook/">https://www.facebook.com/realmaskbook/</a></p>
<p><strong>Telegram</strong> t.me/maskbook_group</p>

<h2>{% t epilogue_donate_title %}</h2>

<p><strong>Bitcoin</strong> 3PRrXj1HTXDc4j9SCQZ6hovpa74iimqtgX</p> 
<p><strong>Ethereum</strong> 0xD71c7150962fd484a4291a193c85426Df9EaABbB</p> 