<br>
<br>
<br>

<h2>{% t epilogue_website_title %}</h2>

<p><a href="https://dimension.im">https://dimension.im</a></p>

<h2>{% t epilogue_product_title %}</h2>

<p><a href="https://mask.io">https://mask.io</a></p>
<p><a href="https://tessercube.com">https://tessercube.com</a></p>

<h2>{% t epilogue_social_title %}</h2>

<p><strong>Github</strong> <a href="https://github.com/DimensionDev">https://github.com/DimensionDev</a></p>
<p><strong>Twitter</strong> <a href="https://twitter.com/realmaskbook">https://twitter.com/realmaskbook</a></p>
<p><strong>Facebook</strong> <a href="https://www.facebook.com/masknetwork">https://www.facebook.com/masknetwork</a>
</p>
<p><strong>Telegram (English)</strong> <a href="https://t.me/maskbook_group">https://t.me/maskbook_group</a></p>
<p><strong>Telegram （中文）</strong> <a href="https://t.me/masknetwork_cn">https://t.me/masknetwork_cn</a></p>

<h2>{% t epilogue_donate_title %}</h2>

<p><strong>Bitcoin</strong> 3PRrXj1HTXDc4j9SCQZ6hovpa74iimqtgX</p>
<p><strong>Ethereum</strong> 0xD71c7150962fd484a4291a193c85426Df9EaABbB</p>