{% if post.layout != post %}
  {% assign words = post.content | strip_html | number_of_words %}
  {% if words < 180 %}
    {% t read_time_less_than_one_minute %}
  {% elsif words < 360 %}
    {% t read_time_one_minute %}
  {% else %}
    {% t read_time_minute_prefix %} {{ words | divided_by:180 }} {% t read_time_minute_suffix %}
  {% endif %}
{% endif %}

{% if post.layout == post %}
  {% assign words = content | number_of_words %}
  {% if words < 180 %}
    {% t read_time_less_than_one_minute %}
  {% elsif words < 360 %}
    {% t read_time_one_minute %}
  {% else %}
    {% t read_time_minute_prefix %} {{ words | divided_by:180 }} {% t read_time_minute_suffix %}
  {% endif %}
{% endif %}
