<h2>
  {% t sharing_button_prompt %}
</h2>
<div class="sharing-icons">
  {% assign post_link = page.url | absolute_url | prepend: site.env.URL | url_encode %}
  {% assign post_title = page.title | url_encode %}
  <a href="https://twitter.com/intent/tweet?text={{ post_title }}&amp;url={{ post_link }}" target="_blank">
    <i class="fa fa-twitter" aria-hidden="true"></i>
  </a>

  {% comment %}
    facebook no longer support prefilled text
  {% endcomment %}
  <a href="https://www.facebook.com/sharer/sharer.php?title={{ post_title }}&amp;u={{ post_link }}" target="_blank">
    <i class="fa fa-facebook" aria-hidden="true"></i>
  </a>
</div>