{% if page.layout == 'default' %}
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="Mask Network" />
  <meta name="twitter:description" content="The Natural Law of Privacy, Now Being Enforced." />
{% else %}
<meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="{{ page.title }}" />
  <meta name="twitter:description" content="{{ page.description }}" />
{% endif %}

{% if page.image %}
  {% assign image_prefix = page.image | slice: 0, 6 %}
  {% if image_prefix == "uploads" and site.baseurl_root != '' %}
    <img src="{{ site.baseurl_root }}/{{ post.image }}">
  {% else %}
    <img src="{{ post.image }}">
  {% endif %}
{% else %}
  <meta name="twitter:image" content="https://maskbook.com/apple-touch-icon.png" />
{% endif %}

<meta name="twitter:url" content="{{ page.url | absolute_url  }}" />