{% if page.layout == 'default' %}
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="Mask Network" />
  <meta name="twitter:description" content="The Natural Law of Privacy, Now Being Enforced." />
{% else %}
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="{{ page.title }}" />
  <meta name="twitter:description" content="{{ page.description }}" />
{% endif %}

{% if page.image %}
  {% assign image_url = page.image | replace: "{{ site.baseurl_root }}", "" %}
  <meta name="twitter:image" content="{{ site.domain }}{{ image_url }}">
{% else %}
  <meta name="twitter:image" content="https://maskbook.com/apple-touch-icon.png" />
{% endif %}

{% if page.layout == 'default' %}
  <meta name="twitter:image:alt" content="Mask Network" />
{% else %}
  <meta name="twitter:image:alt" content="{{ page.title }}" />
{% endif %}

<meta name="twitter:url" content="{{ page.url | absolute_url  }}" />